{% extends "webpage/base.html" %}

{% block scripts2 %}
<script type="text/javascript">
$(document).ready(function(){
    $("td:empty").parent().hide();
    $("td").filter(function(){
      return $(this).text() === "None";
    }).parent().hide();
    $("#show_hide_btn").click(function(){
            var emptytd = $("td:empty");
            $(emptytd).parent().toggle();
            var nonetd = $("td").filter(function(){
            return $(this).text() === "None"});
            $(nonetd).parent().toggle();
});
    });
</script>
<script type="text/javascript">
$(document).ready(function(){
    var fetchedParameter = "{{ request.GET.burial }}";
   $("#id_burial option").each(function() {
        if($(this).text() == fetchedParameter) {
            $(this).attr('selected', 'selected');
        }
    });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    var fetchedParameter = "{{ request.GET.urn }}";
   $("#id_urn option").each(function() {
        if($(this).text() == fetchedParameter) {
            $(this).attr('selected', 'selected');
        }
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    var fetchedParameter = "{{ request.GET.burialsite }}";
   $("#id_burial_site option").each(function() {
        if($(this).text() == fetchedParameter) {
            $(this).attr('selected', 'selected');
        }
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    var fetchedParameter = "{{ request.GET.burialgroup }}";
   $("#id_burial_group option").each(function() {
        if($(this).text() == fetchedParameter) {
            $(this).attr('selected', 'selected');
        }
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){

  $("#breadcrumb_burial").text("{{ request.GET.burial }}");
  $("#breadcrumb_urn").text("{{ request.GET.urn }}");
    // $("#breadcrumb_burial").value == fetchedParameter



});
</script>
<!-- <script type="text/javascript">
$(document).ready(function(){
    var fetchedburial = "{{ request.GET.burial }}";
    var fetchedurn = "{{ request.GET.urn }}";
   $("#id_burial option").each(function() {
        if($(this).text() == fetchedburial) {
            $(this).attr('selected', 'selected');
        }
    });
    $("#id_urn option").each(function() {
         if($(this).text() == fetchedurn) {
             $(this).attr('selected', 'selected');
         }
     });
});
</script> -->

{% endblock scripts2 %}

<!--http://127.0.0.1:8000/burials/burial-autocomplete/?q=-->
