{% extends "webpage/base.html" %}
{% block content %}

<h1>Burial site {{ object }}</h1>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Name</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Alternative name</th>
        <td>{{ object.alternative_name }}</td>
    </tr>
    <tr>
        <th>location</th>
        <td>{{ object.location }}</td>
    </tr>
    <tr>
        <th>geographical_coordinate_reference_system</th>
        <td>{{ object.geographical_coordinate_reference_system }}</td>
    </tr>
    <tr>
        <th>topography</th>
        <td>{{ object.topography }}</td>
    </tr>
    <tr>
        <th>exact_location</th>
        <td>{{object.exact_location}}</td>
    </tr>
    <tr>
        <th>excavation</th>
        <td>{{object.excavation}}</td>
    </tr>
    <tr>
        <th>distance_to_next_settlement</th>
        <td>{{object.distance_to_next_settlement}}</td>
    </tr>
    <tr>
        <th>type_of_burial_site</th>
        <td>{{object.type_of_burial_site}}</td>
    </tr>
    <tr>
        <th>disturbance</th>
        <td>{{object.disturbance}}</td>
    </tr>
    <tr>
      <td>Dating</td>
      <td>{% for x in dating_list %}
      {{ x }}<br/> <!-- find.name -->
      {% endfor %}</td>
    </tr>
    <tr>
        <th>absolute_dating</th>
        <td>{{object.absolute_dating}}</td>
    </tr>
    <tr>
        <th>location_of_archaeological_material_and_contact_information</th>
        <td>{{object.location_of_archaeological_material_and_contact_information}}</td>
    </tr>
    <tr>
      <td>Reference</td>
      <td>{% for x in reference_list %}
        <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ x.zoterokey }}" target="_blank">
      {{ x.author }}, {{ x.title }}, {{ x.publication_year }}, {{ x.place }}
      </a><br/>
      {% endfor %}</td>
    </tr>
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:burialsite_update' pk=object.pk %}" role="button">edit burial site</a>
<a class ="btn btn-danger" href="{% url 'burials:burialsite_delete' pk=object.id %}">Delete</a>

{% endif %}

{% endblock %}
