{% extends "webpage/base.html" %}
{% block content %}

<h1>Burial group {{ object }}</h1>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="col-sm-3">Burial group id</th>
        <td>{{ object.burial_group_id }}</td>
    </tr>
    {% if object.burial_site %}
    <tr>
        <th>Burial site</th>
        <td>
          <a href="{% url 'burials:burialsite_detail' pk=object.burial_site.id %}">
          {{ object.burial_site }}
        </a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Name</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Burial group type</th>
        <td>{{ object.burial_group_type }}</td>
    </tr>
    <tr>
        <th>Material</th>
        <td>{{ object.material }}</td>
    </tr>
    <tr>
        <th>Length</th>
        <td>{{object.length}}</td>
    </tr>
    <tr>
        <th>Width</th>
        <td>{{object.width}}</td>
    </tr>
    <tr>
        <th>Diameter</th>
        <td>{{object.diameter}}</td>
    </tr>
    <tr>
        <th>Height</th>
        <td>{{object.height}}</td>
    </tr>
    {% if burial_list %}
    <tr>
        <th>Burials</th>
        <td>
          {% for x in burial_list %}
          <a href="/burials/{{ x.get_classname }}/{{ x.id }}">ID {{ x.id }} <br/></a>
          {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:burialgroup_update' pk=object.pk %}" role="button">edit burial group</a>
<a class ="btn btn-danger" href="{% url 'burials:burialgroup_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
