{% extends "burials/base_detail.html" %}
{% load staticfiles %}
{% block scriptHeader %}
<!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}" />
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
        <style>
            #map { height: 500px; }
        </style>

{% endblock %}
{% block content %}

<h1>Burial {{ object }}</h1>
{% if object %}
<ol class="breadcrumb">
<li><a href="/">Home</a></li>
{% if object.burial_site.id %}
<li><a href="{% url 'burials:burialsite_detail' pk=object.burial_site.id %}">{{ object.burial_site }}</a></li>
{% endif %}
{% if object.burial_group %}
<li><a href="{% url 'burials:burialgroup_detail' pk=object.burial_group.id %}">Burial Group: {{ object.burial_group.burial_group_id }}</a></li>
{% endif %}
<li class="active">Burial: {{ object.burial_id }}</li>
</ol>
<button id="show_hide_btn" class="btn btn-default">show / hide all fields</button>
<p></p>
{% endif %}
{% if user.is_authenticated %}
<legend>Create objects in this Burial</legend>
<div>

<a class ="btn btn-default btn-lg" href="{% url 'burials:urn_create' %}?burial={{ object }}">urn</a>
<a class ="btn btn-default btn-lg" href="{% url 'burials:gravegood_create' %}?burial={{ object }}">grave goods</a>
<a class ="btn btn-default btn-lg" href="{% url 'burials:deadbodyremains_create' %}?burial={{ object }}">anthropology</a>
<a class ="btn btn-default btn-lg" href="{% url 'burials:gravegoodother_create' %}?burial={{ object }}">organic grave goods</a>
<a class ="btn btn-default btn-lg" href="{% url 'burials:animalremains_create' %}?burial={{ object }}">animal remains</a>

</div>
<p></p>


{% endif %}
<legend>Description</legend>
<table class="table table-bordered table-hover">
    {% if object.burial_site %}
    <tr>
        <th class="col-sm-3">Burial site</th>
        <td>
          <a href="{% url 'burials:burialsite_detail' pk=object.burial_site.id %}">
          {{ object.burial_site }}
          </a>
        </td>
    </tr>
    {% endif %}
    {% if object.burial_group %}
      <tr>
          <th class="col-sm-3">Burial group</th>
          <td>
            <a href="{% url 'burials:burialgroup_detail' pk=object.burial_group.id %}">
            {{ object.burial_group }}
            </a>
          </td>
      </tr>
      {% endif %}
    <tr>
        <th class="col-sm-3">Burial number</th>
        <td>{{ object.burial_id }}</td>
    </tr>
    <tr>
        <th>Burial type</th>
        <td>
          {{object.burial_type}}
          {% if object.burial_type.skos_broader.all %}
          {% for x in object.burial_type.skos_broader.all %}
          <ul><li>{{ x }}
            {% if x.skos_broader.all %}
            {% for y in x.skos_broader.all %}
          <ul><li>{{ y }}</li></ul>
          {% endfor %}
            {% endif %}
          </li></ul>
          {% endfor %}
          {% endif %}

        </td>
    </tr>
    <tr>
        <th>Absolute age</th>
        <td>{{ object.absolute_age }}</td>
    </tr>

    <tr>
        <th>C14 dendro</th>
        <td>{{ object.get_C14_dendro_display }}</td>
    </tr>

    <tr>
        <th>Secondary burial</th>
        <td>{{object.get_secondary_burial_display}}</td>

    </tr>
    <tr>
        <th>Secondary burial text</th>
        <td>{{object.secondary_burial_text}}</td>
    </tr>
    <tr>
        <th>Displaced</th>
        <td>{{ object.get_displaced_display }}</td>
    </tr>
    <tr>
        <th>Displaced text</th>
        <td>{{object.displaced_text}}</td>
    </tr>
    <tr>
        <th>Extraordinary burial</th>
        <td>{{ object.get_extraordinary_burial_display }}</td>
    </tr>
    <tr>
        <th>Extraordinary burial text</th>
        <td>{{object.extraordinary_burial_text}}</td>
    </tr>
    <tr>
        <th>Inhumation burial type</th>
        <td>{{object.inhumation_burial_type}}</td>
    </tr>
    <tr>
        <th>Bi ritual burial type</th>
        <td>{{object.bi_ritual_burial_type}}</td>
    </tr>
  </table>


{% if object.filling_objects or object.intentionally_deposited or object.filling %}
<legend>Burial Filling</legend>
<table class="table table-bordered table-hover">
  <tr>
      <th class="col-sm-3">Filling objects</th>
        <td>
            {% for x in object.filling_objects.all %}
                {{ x }}<br/>
            {% endfor %}
        </td>
  </tr>
  <tr>
      <th class="col-sm-3">Intentionally deposited</th>
      <td>{{ object.get_intentionally_deposited_display }}</td>
  </tr>
  <tr>
      <th class="col-sm-3">Filling</th>
      <td>{{ object.filling }}</td>
  </tr>
</table>
{% endif %}




{% if object.urn_set.all %}
  <legend>Urn</legend>
  <table class="table table-bordered table-hover">
    <tr>
        <th class="col-sm-3">Urn</th>
        <td>
            {% for x in object.urn_set.all %}
              <li><a href="{% url 'burials:urn_detail' pk=x.id %}">{{ x }}</a></li>
            {% endfor %}
        </td>
    </tr>
  </table>
{% endif %}

{% if object.gravegood_set.all %}
  <legend>Grave Goods</legend>
  <table class="table table-bordered table-hover">
    <tr>
        <th class="col-sm-3">Grave Goods</th>
        <td>
            {% for x in object.gravegood_set.all %}
              <li><a href="{% url 'burials:gravegood_detail' pk=x.id %}">{{ x }}</a></li>
            {% endfor %} <br/><hr/>
            {% for x in object.related_gravegoods %}
              <li>
                  {% for item in x %}
                    {{ item }}
                  {% endfor %}
              </li>
            {% endfor %}
        </td>
    </tr>
    {% if object.amount_related_gravegoods %}
    <tr>
      <th class="col-sm-3">Total amount</th>
      <td>{{object.amount_related_gravegoods}}</td>
    </tr>
    {% endif %}
  </table>
{% endif %}

{% if object.deadbodyremains_set.all %}
  <legend>Anthropology</legend>
  <table class="table table-bordered table-hover">
    <tr>
        <th class="col-sm-3">Anthropology</th>
        <td>
            {% for x in object.deadbodyremains_set.all %}
              <li><a href="{% url 'burials:deadbodyremains_detail' pk=x.id %}">{{ x }}</a></li>
            {% endfor %}
        </td>
    </tr>
    {% if object.amount_related_deadbodyremains > 0 %}
    <tr>
      <th>Total amount</th>
      <td>{{ object.amount_related_deadbodyremains }}</td>
    </tr>
    {% endif %}
  </table>
{% endif %}


{% if object.gravegoodother_set.all or object.animalremains_set.all%}
  <legend>Organic</legend>
  <table class="table table-bordered table-hover">
    {% if object.gravegoodother_set.all %}
    <tr>
        <th class="col-sm-3">Organic Grave Goods</th>
        <td>
            {% for x in object.gravegoodother_set.all %}
              <li><a href="{% url 'burials:gravegoodother_detail' pk=x.id %}">{{ x }}</a></li>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if object.animalremains_set.all %}
    <tr>
        <th class="col-sm-3">Animal Remains</th>
        <td>
            {% for x in object.animalremains_set.all %}
              <li><a href="{% url 'burials:animalremains_detail' pk=x.id %}">{{ x }}</a></li>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <tr>
      <th>Total amount of Animal Remains</th>
      <td>{{ object.amount_related_organic }}</td>
    </tr>
  </table>
{% endif %}


  <legend>Grave architecture</legend>
  <table class="table table-bordered table-hover">
    <tr>
        <th class="col-sm-3">Construction</th>
        <td>{{object.construction}}</td>
    </tr>
    <tr>
        <th>Arrangement</th>
        <td>{{object.arrangement}}</td>
    </tr>
    <tr>
        <th class="col-sm-3">Cover</th>
        <td>{{ object.get_cover_display }}</td>
    </tr>
    <tr>
        <th class="col-sm-3">Cover type</th>
        <td>{{object.cover_type}}</td>
    </tr>
    <tr>
        <th class="col-sm-3">Grave pit form</th>
        <td>{{object.grave_pit_form}}</td>
    </tr>
    <tr>
        <th class="col-sm-3">Grave pit orientation</th>
        <td>{{object.grave_pit_orientation}}</td>
    </tr>
    <tr>
        <th>Length</th>
        <td>{{object.length}}</td>
    </tr>
    <tr>
        <th>Width</th>
        <td>{{object.width}}</td>
    </tr>
    <tr>
        <th>Diameter</th>
        <td>{{object.diameter}}</td>
    </tr>
    <tr>
        <th>Height</th>
        <td>{{object.height}}</td>
    </tr>
    <tr>
        <th>Post holes</th>
        <td>{{object.post_holes}}</td>
    </tr>
    <tr>
        <th>Surface identification mark</th>
        <td>{{object.surface_identification_mark}}</td>
    </tr>
    <tr>
        <th>Erdgraebchen</th>
        <td>{{object.erdgraebchen}}</td>
    </tr>
    <tr>
        <th>Other features</th>
        <td>{{object.other_features}}</td>
    </tr>
</table>

{% if object.burial_site.location.lng %}
<legend>Location</legend>

<div id="map"></div><br/>
{% endif %}

{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'burials:burial_update' pk=object.pk %}" role="button">edit burial</a>
<a class ="btn btn-danger" href="{% url 'burials:burial_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
{% block scripts-map %}
{% if object.burial_site.id %}
<script type="text/javascript">

    var gps1 = {{ object.burial_site.location.lat }};
    var gps2 = {{ object.burial_site.location.lng }};
    var nix = "nix";
    var map = L.map('map').setView([gps1, gps2], 6);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
        }).addTo(map);

    L.marker([gps1 , gps2]).addTo(map)
    .bindPopup('<a href="{% url 'burials:burialsite_detail' pk=object.burial_site.id %}">{{ object.burial_site.name }}</a>')
    .openPopup();

</script>
{% endif %}
{% endblock %}
