{% extends "burials/base_detail.html" %}
{% block content %}

<h1>Burial site {{ object }}</h1>
{% if object %}
<ol class="breadcrumb">
<li><a href="/">Home</a></li>
<li class="active">{{ object }}</li>
</ol>
{% endif %}
<button id="show_hide_btn" class="btn btn-default">show / hide all fields</button>
<p></p>

{% if user.is_authenticated %}
<legend>Create Objects in this Burial Site</legend>
<div>
  <a class ="btn btn-default btn-lg" href="{% url 'burials:burialgroup_create' %}?burialsite={{ object }}">burial group</a>
  <a class ="btn btn-default btn-lg" href="{% url 'burials:burial_create' %}?burialsite={{ object }}">burial</a>
</div>
<p></p>
{% endif %}
<legend>Description</legend>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="col-sm-3">Name</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Alternative name</th>
        <td>{{ object.alternative_name }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>
          <a href="{% url 'places:place_edit' pk=object.location.id %}">
          {{ object.location }}
        </a>
        </td>
    </tr>
    <tr>
        <th>Geographical coordinate reference system</th>
        <td>{{ object.geographical_coordinate_reference_system }}</td>
    </tr>
    <tr>
        <th>Topography</th>
        <td>{{ object.topography }}</td>
    </tr>
    <tr>
        <th>Exact location</th>
        <td>{{object.exact_location}}</td>
    </tr>
    <tr>
        <th>Excavation</th>
        <td>{{object.excavation}}</td>
    </tr>
    <tr>
        <th>Distance to next settlement</th>
        <td>{{object.distance_to_next_settlement}}</td>
    </tr>
    <tr>
        <th>Type of burial site</th>
        <td>{{object.type_of_burial_site}}</td>
    </tr>
    <tr>
        <th>Disturbance</th>
        <td>{{object.disturbance}}</td>
    </tr>
    <tr>
      <td>Dating</td>
      <td>{% for x in dating_list %}
      {{ x }}<br/> <!-- find.name -->
      {% endfor %}</td>
    </tr>
    <tr>
        <th>Absolute dating</th>
        <td>{{object.absolute_dating}}</td>
    </tr>
    <tr>
        <th>Location of archaeological material and contact information</th>
        <td>{{object.location_of_archaeological_material_and_contact_information}}</td>
    </tr>
    <tr>
      <td>Reference</td>
      <td>{% for x in reference_list %}
        <a  href="{{ x.get_zotero_url }}" target="_blank">{{ x }}</a><br/>
      {% endfor %}</td>
    </tr>
  {% if burialgroup_list %}
  <tr>
      <th>Burial groups</th>
      <td>
        {% for x in burialgroup_list %}
        <a href="/burials/{{ x.get_classname }}/{{ x.id }}">{{ x }}<br/></a>
        {% endfor %}
      </td>
  </tr>
  {% endif %}
  {% if burial_list %}
  <tr>
      <th>Burials</th>
      <td>
        {% for x in burial_list %}
        <a href="/burials/{{ x.get_classname }}/{{ x.id }}">{{ x }} <br/></a>
        {% endfor %}
      </td>
  </tr>
  {% endif %}
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:burialsite_update' pk=object.pk %}" role="button">edit burial site</a>
<a class ="btn btn-danger" href="{% url 'burials:burialsite_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
