{% extends "webpage/base.html" %}
{% block content %}

<h1>Grave good other {{ object }}</h1>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>burial</th>
        <td>
          <a href="{% url 'burials:burial_detail' pk=object.burial.id %}">
          {{ object.burial }}
          </a>
        </td>
    </tr>
    <tr>
        <th>food</th>
        <td>{{ object.food }}</td>
    </tr>
    <tr>
        <th>other_organic_grave_good</th>
        <td>{{ object.other_organic_grave_good }}</td>
    </tr>
    <tr>
        <th>other_organic_grave_good_text</th>
        <td>{{ object.other_organic_grave_good_text }}</td>
    </tr>
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:gravegoodother_update' pk=object.pk %}" role="button">edit grave good other</a>
<a class ="btn btn-danger" href="{% url 'burials:gravegoodother_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
