{% extends "burials/base_detail.html" %}
{% block content %}

<h1>Organic Grave Goods {{ object }}</h1>
{% if object %}
<ol class="breadcrumb">
<li><a href="/">Home</a></li>
<li><a href="{% url 'burials:burialsite_detail' pk=object.burial.burial_site.id %}">{{ object.burial.burial_site }}</a></li>
{% if object.burial.burial_group %}
<li><a href="{% url 'burials:burialgroup_detail' pk=object.burial.burial_group.id %}">
  Burial Group: {{ object.burial.burial_group.burial_group_id }}</a></li>
{% endif %}
<li><a href="{% url 'burials:burial_detail' pk=object.burial.id %}">
  Burial: {{ object.burial.burial_id }}</a></li>
  {% if object.urn %}
  <li><a href="{% url 'burials:urn_detail' pk=object.urn.id %}">
    Urn: {{ object.urn.urn_id }}</a></li>
  {% endif %}
<li class="active">{{ object }}</li>
</ol>
<button id="show_hide_btn" class="btn btn-default">show / hide all fields</button>
<p></p>
{% endif %}
<legend>Description</legend>
<table class="table table-bordered table-striped table-hover">
  {% if object.burial %}
    <tr>
        <th class="col-sm-3">Burial</th>
        <td>
          <a href="{% url 'burials:burial_detail' pk=object.burial.id %}">
          {{ object.burial }}
          </a>
        </td>
    </tr>
      {% endif %}
      {% if object.urn %}
        <tr>
            <th class="col-sm-3">Urn</th>
            <td>
              <a href="{% url 'burials:urn_detail' pk=object.urn.id %}">
              {{ object.urn }}
            </a>
            </td>
        </tr>
        {% endif %}
    <tr>
        <th>Food</th>
        <td>{{ object.food }}</td>
    </tr>
    <tr>
        <th>Other organic grave good</th>
        <td>{{ object.other_organic_grave_good }}</td>
    </tr>
    <tr>
        <th>Other organic grave good text</th>
        <td>{{ object.other_organic_grave_good_text }}</td>
    </tr>
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:gravegoodother_update' pk=object.pk %}" role="button">edit Organic Grave Goods</a>
<a class ="btn btn-danger" href="{% url 'burials:gravegoodother_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
