{% extends "webpage/base.html" %}
{% block content %}

<h1>Urn {{ object }}</h1>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="col-sm-3">Burial</th>
        <td>
          <a href="{% url 'burials:burial_detail' pk=object.burial.id %}">
          {{ object.burial }}
        </a>
        </td>
    </tr>
    <tr>
        <th>Basic shape</th>
        <td>{{ object.basic_shape }}</td>
    </tr>
    <tr>
        <th>Urn id</th>
        <td>{{ object.urn_id }}</td>
    </tr>
    <tr>
        <th>Urn type</th>
        <td>{{ object.urn_type }}</td>
    </tr>
    <tr>
        <th>Variation</th>
        <td>{{ object.variation }}</td>
    </tr>
    <tr>
        <th>Cover</th>
        <td>
          <a href="{% url 'burials:urncover_detail' pk=object.cover.id %}">
          {{ object.cover }}
        </a>
        </td>
    </tr>
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:urn_update' pk=object.pk %}" role="button">edit urn</a>
<a class ="btn btn-danger" href="{% url 'burials:urn_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
