{% extends "webpage/base.html" %}
{% block content %}

<h1>Urn cover {{ object }}</h1>
<table class="table table-bordered table-striped table-hover">

    <tr>
        <th class="col-sm-3">Urn</th>
        <td>
            <a href="{% url 'burials:urn_detail' pk=object.urn.id %}">
          {{ object.urn }}
        </a>
        </td>
    </tr>
    <tr>
        <th>Cover number</th>
        <td>{{ object.cover_id }}</td>
    </tr>
    <tr>
        <th>Upside down</th>
        <td>{{ object.upside_down }}</td>
    </tr>
    <tr>
        <th>Fragment</th>
        <td>{{ object.fragment }}</td>
    </tr>
    <tr>
        <th>Basic shape</th>
        <td>{{ object.basic_shape }}</td>
    </tr>
</table>

{% if user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'burials:urncover_update' pk=object.pk %}" role="button">edit urn cover</a>
<a class ="btn btn-danger" href="{% url 'burials:urncover_delete' pk=object.id %}">delete</a>

{% endif %}

{% endblock %}
