# Byte-compiled
__pycache__/
*.pyc

# sensitive data
cbab/settings/server.py

# test coverage
.coverage
cover/
cbabdev/

# IDE
.idea

# migrations
diauma/migrations/*


#Ipython Notebook
.ipynb_checkpoints

/db.sqlite3
/ted/settings/mysql.py
/ted/settings/server.py
/playAndTry.ipynb
/ted/db.sqlite3

/vocabs/data/japbibthesaurus_03.rdf
/vocabs/data/thepro_rdf.xml
/cbab/settings/dev_secret.py
/cbab/settings/mysql.py
/cbab/settings/postgres.py
/TryAndPlay.ipynb
/data/Tabelle_CBAB_20_12_2016.xls

# documentation build files

/docs/_*/*
/setPermissions.ipynb
cbab/settings/local.py
venv/
secret.env
docker.env
