{% extends "browsing/generic_list.html" %}
{% block list_title %}All Burial Sites{% endblock %}

{% block create_button %}
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md"  href="{% url 'burials:burialsite_create' %}">create new Site</a>
</div>
{% endif %}
{% endblock %}


{% block reset_button %}
 <a class ="btn btn-default"  href="{% url 'browsing:browse_burialsites' %}">Reset search</a>
{% endblock %}

{% block customScripts %}
<script>
//
// var burialsite_names = [{% for name in burialsite_names %} "{{ name }}", {% endfor %}];
// var topography_names = [{% for name in topography_names %} "{{ name }}", {% endfor %}];

    // $(function() {
    //     $("#id_topography").autocomplete({
    //         source:burialsite_names
    //     });
    // });

    // $(function() {
    //     $("#id_period").autocomplete({
    //         source:period_names
    //     });
    // });

    // $(function() {
    //     $("#id_period__cs_name").autocomplete({
    //         source:cs_names
    //     });
    // });
</script>
{% endblock %}
