{% extends "browsing/generic_list.html" %}
{% block list_title %}All Burial Groups{% endblock %}

{% block create_button %}
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md"  href="{% url 'burials:burialgroup_create' %}">create new Site</a>
</div>
{% endif %}
{% endblock %}


{% block reset_button %}
 <a class ="btn btn-default"  href="{% url 'browsing:browse_burialgroups' %}">Reset search</a>
{% endblock %}

{% block customScripts %}
<script>
var burialsite_names = [{% for name in burialsite_names %} "{{ name }}", {% endfor %}];

    $(function() {
        $("#id_burial_site__name").autocomplete({
            source:burialsite_names
        });
    });

</script>
{% endblock %}
