{% extends "browsing/generic_list.html" %}
{% block list_title %}All Grave Goods{% endblock %}

{% block create_button %}
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md"  href="{% url 'burials:gravegood_create' %}">create new Grave Good</a>
</div>
{% endif %}
{% endblock %}


{% block reset_button %}
 <a class ="btn btn-default"  href="{% url 'browsing:browse_gravegoods' %}">Reset search</a>
{% endblock %}

{% block customScripts %}
<script>
var gravegood_names = [{% for name in gravegood_names %} "{{ name }}", {% endfor %}];
var burialsite_names = [{% for name in burialsite_names %} "{{ name }}", {% endfor %}];

    $(function() {
        $("#id_name").autocomplete({
            source:gravegood_names
        });
    });

    $(function() {
        $("#id_burial_site_name").autocomplete({
            source:burialsite_names
        });
    });

</script>
{% endblock %}
