{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <h3>About CBAB project</h3>
    <hr style="background: #331165; height: 2px;">
    <p class="text-justify">
        The aim of Cremation Bronze Age Burials (CBAB) is the coordinated assessment of the
        cremation burials in the Late Bronze Age (14th – 9th century BC) based on a
        shared database.
    </p>
    <p class="text-justify">
        The dynamic spreading of the cremation burials and formation of the “Urnfield Culture”
        are one of the decisive cultural appearances in the European prehistory.
        Despite the wide distribution and various common traits, the research of urn cemeteries
        is still characterised by regional approach, mostly within the national borders.
        The intention of this project is to integrate and make accessible existing analogue
        data and to provide a platform for the processing of new data. CBAB database offers a
        unique opportunity to collect, standardize, compare and analyse data sets from different
        regions and thus to create a solid starting point for regional and supra-regional
        studies on Bronze Age cremation phenomena.
    </p>
    <h3>Team</h3>
    <hr style="background: #331165; height: 2px;">
    <h4>Urnfield Culture Networks Research Group, Institute for Oriental and European Archaeology</h4>
      <p>Project leader: Mario Gavranovic</p>
      <p>Team members: Michaela Lochner, Katharina Rebay Salisbury, Stefanos Gimatzidis, Verena Tiedtke</p>
      <p>Data entry: Verena Tiedtke, Nicole Miterrmair</p>
      <h4>Austrian Centre for Digital Humanities</h4>
      <p>Developers: Peter Andorfer, Ksenia Zaytseva, Martin Kirnbauer</p>


    <h3>Acknowledgements</h3>
    <hr style="background: #331165; height: 2px;">
    <p class="text-justify">CBAB project benefits from experience gained during developement of <a href="https://defc.acdh.oeaw.ac.at/">DEFC-App</a> as well as other django-based projects developed at the ACDH-OeAW.</p>
</div>
{% endblock %}
