{% load static %}
{% load webpage_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block Titel %} {% projects_metadata 'title' %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block metaDescription %}
      <meta name="description" content="{{ metadata.description }}">
      {% endblock %}
      <meta name="author" content="{{ metadata.author }}">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/bootstrap337/css/bootstrap.min.css' %}"/>
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'webpage/css/style.css' %}"/>

      <!--scroll to top CSS -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/scroll-to-top/css/ap-scroll-top.min.css'%}" />
      <!-- jQuery -->
      <script type="text/javascript" src="{% static 'webpage/libraries/jquery/jquery.js' %}"></script>
      <!--scroll to top -->
      <script src="{% static 'webpage/libraries/scroll-to-top/js/ap-scroll-top.min.js'%}"></script>
      
        <!-- Piwik -->
        <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.cbab.acdh.oeaw.ac.at/","*.cbab.eos.arz.oeaw.ac.at"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//matomo.acdh.oeaw.ac.at/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '48']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
<noscript><p><img src="//matomo.acdh.oeaw.ac.at/piwik.php?idsite=48" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

      {% block scriptHeader %}
      {% endblock %}
  </head>

  <body role="document">
    <header class="page-header procustom-header">
      <div class="container" id="procustom-affix">
        <div class="logo-container">
          <a href="{% url 'webpage:start' %}" class="navlink">
              <img src="{% static 'webpage/img/test.png' %}"  id="pro-logo"/>
          </a>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-top procustom-navbar" id="top-procustom-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation!</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home
                  <span class="caret"/>
                  </a>
                  <ul class="dropdown-menu procustom-dropdown-menu">
                    <li>
                        <a href="{% url 'webpage:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'webpage:manual' %}">User manual</a>
                    </li>
                    <li>
                        <a href="{% url 'webpage:imprint' %}">Impressum / Imprint</a>
                    </li>
                  </ul>
              </li>
               <li class="dropdown">
                {% if user.is_authenticated %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curate and Browse the Data
                  <span class="caret"/>
                  </a>
                  {% else %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse the Data
                  <span class="caret"/>
                  </a>
                  {% endif %}

                  <ul class="dropdown-menu procustom-dropdown-menu">
                    <li>
                        <a href="{% url 'places:place_list' %}">Locations</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'browsing:browse_burialsites' %}">Burial Site</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_burialgroups' %}">Burial Group</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_burials' %}">Burial</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'browsing:browse_urns' %}">Urn</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_urncovers' %}">Urn cover</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'browsing:browse_gravegoods' %}">Grave Goods</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'browsing:browse_deadbodyremains' %}">Anthropology</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Organic</li>

                    <li>
                        <a href="{% url 'browsing:browse_gravegoodsother' %}">Organic Grave Goods</a>
                    </li>
                    <li>
                        <a href="{% url 'browsing:browse_animalremains' %}">Animal Remains</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analyze the Data
                  <span class="caret"/>
                  </a>
                  <ul class="dropdown-menu procustom-dropdown-menu">
                   <li>
                        <a href="{% url 'browsing:browse_all' %}">Search database</a>
                    </li>

                  </ul>
                </li>
                {% if user.is_authenticated %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vocabs Curation
                    <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu procustom-dropdown-menu">
                      <li>
                          <a href="{% url 'vocabs:skosconceptscheme_list' %}">Concept Schemes</a>
                      </li>
                      <li>
                          <a href="{% url 'vocabs:browse_vocabs' %}">Concepts</a>
                      </li>
                      <li>
                          <a href="{% url 'vocabs:skoslabel_list' %}">Labels</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                          <a href="{% url 'api-root' %}">Export SKOS (API)</a>
                      </li>
                    </ul>
                  </li>
                  {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                {% if user.is_authenticated %}
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"/>&nbsp;{{ user.get_username }}
                  </a>
                  <ul class="dropdown-menu procustom-dropdown-menu">
                        <li>
                            <a href="{% url 'webpage:user_login' %}">Log-In</a>
                        </li>
                        <li>
                            <a href="{% url 'webpage:user_logout' %}">Log-Out</a>
                        </li>
                      </ul>
                {% else %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"/>
                  </a>
                      <ul class="dropdown-menu procustom-dropdown-menu">
                        <li>
                            <a href="{% url 'webpage:user_login' %}">Log-In</a>
                        </li>
                        <li>
                            <a href="{% url 'webpage:user_logout' %}">Log-Out</a>
                        </li>
                      </ul>
                {% endif %}
              </li>
            </ul>
        </div>
        </div>
    </nav>
    </header>

    <section class="main-content">
      {% block procustom-index %}
      {% endblock %}
      <div id="content" class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    <footer>
      <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <a href="https://www.oeaw.ac.at/acdh/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/acdh_logo_02.png' %}" id="acdh-logo" alt="ACDH" title="Austrian Centre for Digital Humanities"/>
          </a>
        </div>
        <div class="col-sm-4">
            <a href="{% projects_metadata 'github' %}" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/GitHub-Mark-Light-64px.png' %}" id="github-logo" alt="{{ metadata.github }}" title="Github source code"/>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="http://www.orea.oeaw.ac.at/home/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/OREA_white.png' %}" id="orea-logo" alt="OREA" title="Institute for Oriental and European Archaeology"/>
            </a>
        </div>
      </div>
      <div class="row text-center">
           <div class="col-sm-4 text-center">
            <h5><b>Contact:</b></h5>
            <p>Dr. Mario Gavranovic
            <br>mario.gavranovic@oeaw.ac.at
            <br>OREA - Institute for Oriental and European Archaeology</p>

        </div>
         <div class="col-sm-4 text-center">
         <h5><a href="{% url 'webpage:terms-of-use' %}" class="footer_link"><b>Terms of Use</b></a></h5>
          <h5><a href="{% url 'webpage:imprint' %}" class="footer_link"><b>Imprint</b></a></h5>
         </div>
      </div>
    </div>
    </footer>

    {% block scripts %}
    <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap335/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap335/js/bootstrap-tab.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>

    <!-- scroll-up-bottom -->
<script type="text/javascript">
  // Setup plugin with default settings
  $(document).ready(function() {
      $.apScrollTop();
  });
</script>
    {% endblock %}
    {% block scripts2 %}
    {% endblock scripts2 %}
  </body>
</html>
