alabaster==0.7.10
Babel==2.3.4
bleach==1.5.0
colorama==0.3.7
decorator==4.0.11
Django==1.11.1
django-autocomplete-light==3.2.7
django-crispy-forms==1.6.1
django-extensions==1.7.9
django-filter==1.0.2
django-guardian==1.4.9
django-tables2==1.6.1
djangorestframework==3.6.2
docutils==0.13.1
entrypoints==0.2.2
html5lib==0.9999999
imagesize==0.7.1
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
Jinja2==2.9.5
jsonschema==2.6.0
jupyter-client==4.4.0
jupyter-core==4.2.1
lxml==3.7.3
MarkupSafe==0.23
mistune==0.7.3
mysqlclient==1.3.9
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.3.2
pandocfilters==1.4.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
Pygments==2.2.0
pytz==2017.2
pyzmq==16.0.2
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.3
sphinx-rtd-theme==0.2.4
tei==0.5.1
testpath==0.3
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
win-unicode-console==0.5
